<html>
    <body>
        <h3>Previsão Diabetes</h3>

        <div>
            <form action="/result" method="POST">
                <label for="gest">Número de Gestações</label>
                <input type="text" id="gest" name="gest">
                <br>
                <label for="glic">Concentração de Glicose</label>
                <input type="text" id="glic" name="glic">
                <br>
                <label for="presdia">Pressão Diastólica</label>
                <input type="text" id="presdia" name="presdia"> (mm Hg)
                <br>
                <label for="dobcut">Espessura da Dobra Cutânea do Tríceps</label>
                <input type="text" id="dobcut" name="dobcut"> (mm)
                <br>
                <label for="nivins">Nível de Insulina</label>
                <input type="nivins" name="nivins"> (mu U/ml)
                <br>
                <label for="indmascor">Índice de Massa  Corporal</label>
                <input type="indmascor" name="indmascor">
                <br>
                <label for="hergen">Herança Genética</label>
                <input type="hergen" name="hergen">
                <br>
                <label for="age">Idade</label>
                <input type="text" id="age" name="age"> anos
                <br>
                <input type="submit" value="Enviar">
            </form>
        </div>
    </body>
</html>
